@import "theme";

.jm-Profile {
    text-align: center;

    &__picture {
        @extend .col-12;
        @extend .pb-2;
    }

    &__name {
        font: {
            size: 2.5rem;
        }
    }
}
