@import "themeFunctions";

.jm-Appointment {
    &__content {
        justify-content: center;
    }

    &__profile {
        flex-grow: 0;
        flex-basis: 33%;
    }

    &__personal {
        // Make sure the content row wraps before getting to narrow
        flex-basis: 67%;
        flex-shrink: 0;
    }

    &__heading {
        font: {
            family: sans-serif;
            size: xx-large;
        }
    }

    &__line {
        font: {
            family: serif;
            size: large;
        }
    }

    &__form {
        margin: {
            bottom: map-get($spacers, 3);
        }
    }
}
