@import "themeFunctions";

.jm-Social {
    padding: {
        bottom: map-get($spacers, 2);
        top: map-get($spacers, 2);
    }
    white-space: nowrap;
    font-size: x-large;

    &__handle {
        padding: {
            left: map-get($spacers, 3);
        }
    }
}
