@import "themeFunctions";

.jm-Navigation {
    &__wordmark {
        width: 120px;
        height: auto;
        display: none;
        @include media-breakpoint-up(md) {
            display: block;
        }
    }

    &__navlist {
        font-size: 2.5rem;

        margin: {
            right: auto;
            left: auto;
        }
        @include media-breakpoint-up(md) {
            margin: {
                right: 0;
            }
        }

        a {
            padding: {
                left: map-get($spacers, 4);
                right: map-get($spacers, 4);
            }
        }
    }

    &__name {
        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    &__about {
        display: none;
        @include media-breakpoint-up(md) {
            display: block;
        }
    }
}
