@import "themeFunctions";

.jm-Navigation {
    &__wordmark {
        width: 120px;
        height: auto;
        display: none;
        @include media-breakpoint-up(md) {
            display: block;
        }
    }

    &__navlist {
        margin: {
            right: auto;
            left: auto;
        }
        @include media-breakpoint-up(md) {
            margin: {
                right: 0;
            }
        }
    }

    &__name {
        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    &__about {
        display: none;
        @include media-breakpoint-up(md) {
            display: block;
        }
    }
}
