@import "theme";
@import "themeFunctions";
.jm-FormField {
    &__field {
        margin: {
            bottom: map-get($spacers, 3);
        }
    }
    &__label {
        color: $primary;
    }
    &__error {
        margin: 0;
        color: red;
        font: {
            size: small;
        }
    }
}
