@import "themeFunctions";

.jm-Personal {
    &__line {
        font: {
            family: serif;
            size: x-large;
        }

        &--cta {
            font: {
                weight: bold;
            }
        }
    }
}
